
*.apk
*.ap_
*.dex
*.class
bin/
gen/
captures/
local.properties
Thumbs.db
.DS_Store

.gradle/
build/

!.idea/
.idea/*
!.idea/codeStyleSettings.xml
!.idea/checkstyle-idea.xml
!.idea/misc.xml
!.idea/inspectionProfiles
!.idea/inspectionProfiles/*
!.idea/dictionaries/project.xml
/**/*.iml

*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures